<!DOCTYPE html>
<html>
<head>
    <title>Search in PDF</title>
</head>
<body>
    <h1>Search in PDF</h1>
    <form action="/search/" method="get">
        <input type="text" name="query" placeholder="Enter word" value="{{ query }}">
        <button type="submit">Search</button>
    </form>

   <form action="/upload/" enctype="multipart/form-data" method="post">
    <input name="pdf_files" type="file" multiple>
    <input type="submit">
   </form>


    <h2>Results:</h2>
    <ul>
        {% for result in results %}
            <li><strong>{{ result.title }}</strong></li>
            <p>{{ result.highlighted_text|safe }}</p>
        {% endfor %}
    </ul>
</body>
</html>
